* {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
*:focus {
    outline: none;
}

body {
    background-color: #1C1C1C;
}

header {
    font-weight: bold;
}

.title {
    font-size: 60px;
    padding-top: 20px;
}

.username-text, .mode-text {
    font-size: 41px;
}

.username-input {
    background-color: transparent;
    border: 2px solid;
    border-radius: 10px;
    transition: 0.3s;
}

.username-input:focus {
    background-color: transparent;
    border: 2px solid #fff;
    color: #c4c4c4;
    box-shadow: none;
}

.settings-form {
    margin-top: 30px;
}

.modes {
    margin-top: 30px;
}


.mode {
    display: inline-block;
    cursor: pointer;
    padding: 19px;
    text-align: center;
}

.selected {
    background-color: #e1e1e110;
    box-shadow: none;
}

ul.mode-block li img {
    display: block;
}

.preview {
    max-width:100%;
    max-height:100%;
}

.mode span {
    display: block;
    margin-top: 5px;
}

#generate-button {
    margin-top: 50px;
}

.default-button {
    background-color: transparent;
    border: 1px solid #E5E5E5;
    color: #E5E5E5;
    border-radius: 10px;
    transition: 0.3s;
}

.default-button:hover  {
    color: #1c1c1c;
    background-color: #E5E5E5;
}

.default-button:focus {
    box-shadow: none;
}

.type-block {
    margin-top: 30px;
}

.type {
    width: 100%;
}

.type:focus {
    background-color: #E5E5E5;
    color: #1c1c1c;
}

.selected-button {
    background-color: #E5E5E5;
    color: #1c1c1c;
    transition: 0.3s;
}

#previewarea {
    margin-top: 30px;
    margin-bottom: 30px;
}